<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Register</title>
</head>
<body>
	<table border="1">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Description</th>
				<th>Target Fund</th>
				<th>Current Fund</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="project, iStat : ${projectPage.content}"
				th:style="${iStat.odd}? 'font-weight: bold;'" th:alt-title="${iStat.even}? 'even' : 'odd'">
				<td th:text="${project.id}" />
				<td th:text="${project.name}" />
				<td th:text="${project.description}" />
				<td th:text="${project.targetFund}" />
				<td th:text="${project.currentFund}" />
			</tr>
		</tbody>
	</table>
	<div th:if="${projectPage.totalPages > 0}" class="pagination" th:each="pageNumber : ${pageNumbers}">
		<a th:href="@{/projects/project-list(size=${projectPage.size}, page=${pageNumber})}" th:text=${pageNumber}
			th:class="${pageNumber==projectPage.number + 1} ? active"></a>
	</div>
</body>
</html>